.tokenItem a {
    display: flex;
    border-radius: 20px;
    padding: 0px 10px;
    transition: 0.2s ease;
    color: var(--background-end) !important;
    width: 100%;
    text-align: left;
    margin-left: 20px;
    align-items: center;
    height: 100%;
    font-weight: 600;
    font-size: 16;
    justify-content: space-between;
    background:none;
	background-image:none;
    font-family: 'Inter';
    letter-spacing: -1px;
    
}

.tokenItem a:hover {
/*  background-color:rgba(242.00000077486038, 0, 52.000000700354576, 1) !important;
	background-image:linear-gradient(0deg, rgba(242.00000077486038, 0, 52.000000700354576, 1) 0%,rgba(255, 184.95296269655228, 134.2292109131813, 0.5) 100%) !important;
*/
    background-color: #2a2a2a !important;

    text-decoration: none;
    letter-spacing: 0px;
    padding: 0px 20px;
    transition-delay: background-color 2s;
}

.coinHero
{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.coinHeroContainer
{
    display: flex;
    padding: 50px;

    flex-direction: column;
    background-color: var(--secondary-foreground) !important;
    border-radius: 20px;

}
.colorLegend h1
{
    text-align: center;
    margin: 20px 0px;
    color: var(--background-end);
}
.tokenItem
{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--secondary-foreground   );
    padding: 10px 0px;
}
.tokenItem:last-child
{
    border-bottom: none;
}

.tokenIcon
{
    height: 40px;
    aspect-ratio: 1 / 1 !important;
    border-radius: 50px;
    box-shadow: 0px 2px 10px  -4px var(--secondary-foreground);
    
    outline-offset: 5px;
    margin-right: 0px;
}

.tokenItem .bscchain
{
    outline: 2px solid gold;
}

.tokenItem .ethchain
{
    outline: 2px solid lightskyblue;

}

.tokenItem .basechain
{
    outline: 2px solid deepskyblue;
}

.tokenItem .unverified
{
    outline: 2px solid var(--secondary-foreground);
}

.tokenItem .scam
{
    outline: 2px solid var(--primary-accent);
}

.tokenItem .promoted
{
    outline: 2px solid lightgreen;

}

.legendColors
{
    text-align: center;
    font-family: 'Space Mono';
    letter-spacing: 1px;
    font-size: 12px;
}

.bscchain
{
    color: gold;
}

.ethchain
{
    color: lightskyblue;

}

.basechain
{
    color: deepskyblue;
}

.unverified
{
    color: white;
}

.scam
{
    color: var(--primary-accent);
}

.promoted
{
    color: lightgreen;

}

.tokenList
{
    width: 80%;
    background-color: var(--foreground);
    display: flex;
    flex-direction: column;
    height: 350px;
    overflow-y: scroll;
    padding: 20px;
    border-radius: 20px;

}
.categoryContainer
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.categoryContainer h2
{
    color: var(--background-end);
    text-align: center;
    font-family: 'Inter';
}

.tokenList::-webkit-scrollbar
{
    display: none;
}
a .emoji
{
    opacity: 0;
    transition: 0.1s ease;
    filter: drop-shadow(2px 2px 6px #f1000075);
}

a:hover .emoji
{
    opacity: 1;
    transition-delay: 0.15;

}

.tokenItem .emoji
{
    opacity: 0;
    transition: 0.1s ease;
    filter: drop-shadow(2px 2px 6px #6a6a6a) !important;
}


.legendColors
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}



@media only screen and (max-width: 800px)  {

    .coinHero
    {
        width: 100%;
        display: flex;
        flex-direction: column !important;
        height: 100%;
        background-color: var(--secondary-foreground);
        border-radius: 0px !important;
        padding: 20px 0px !important;
        height: 100%;
        gap: 50px;
        justify-content: space-evenly;
        align-items: center;
    }

    .legendColors
{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

    .categoryContainer h2
{
    color: var(--background-end);
    text-align: center;
    font-family: 'Space Mono';
}

.coinHeroContainer
{
    width: 60%;
    margin: 0 auto;
}
.tokenList
{
    width: 100%;
    background-color: var(--foreground);
    display: flex;
    flex-direction: column;
    height: 350px;
    overflow-y: scroll;
    padding: 20px;
    border-radius: 20px;
}

}
