/* styles/global.css */

/* Reset some default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Set a default font family */
body {
  font-family: Arial, sans-serif;
}

/* Add some spacing */
body {
  padding: 20px;
}

/* Customize links */
a, .navLink {
  color: var(--secondary-foreground) !important;
  text-decoration: none;
}

a, .navLink:hover {
  color: var(--primary-accent) !important;
  text-decoration: none;
}

.navLink:hover {
background-color: var(--faded-accent) !important;
}

/* Style headings */
h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

/* Add your Tailwind CSS styles here */
/* Tailwind CSS styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom root variables */
:root {
  --foreground: #1a1a1a;
  --secondary-foreground: #2a2a2a;
  --background-start: #ececec;
  --background-end: #ffffff;
  --primary-accent: #f20034;
  --faded-accent: #ffeaed;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --secondary-foreground: #ececec;
    --background-start: #1a1a1a;
    --background-end: #2a2a2a;
    --primary-accent: #f20034;
    --faded-accent: #ffeaed;
  }
}

/* Body styling */
/* General Styles */
/* General Styles */
html
{
  padding: 0;
  margin: 0;
  height: 100%;

}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 20px 0px;
  color: var(--foreground);
  background-color: var(--background-end);
  min-height: 100%;
  text-rendering: antialiased;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0;
  padding-left: 250px;
  gap: 50px;
  display: grid;
  height: 100%;

}

a, .navlink {
  text-decoration: none;
  color: var(--primary-accent);
  transition: color 0.2s ease-in-out;
}

a:hover, .navlink:hover {
  color: #c31c40;
}

button {
  padding: 10px 20px;
  background-color:rgba(242.00000077486038, 0, 52.000000700354576, 1);
	background-image:linear-gradient(0deg, rgba(242.00000077486038, 0, 52.000000700354576, 1) 0%,rgba(255, 184.95296269655228, 134.2292109131813, 0.5) 100%) ;
  color: var(--background-end);
  border: none;
  border-radius: 20px !important;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-family: 'Space Mono';
  font-size: 16px;
  filter: drop-shadow(2px 4px 6px #33333340);
} 

button:hover {
  background-color: #c31c40;

}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: var(--foreground);
  border-radius: 15px;
  grid-template-columns: 2fr 1fr;
  }



.presaleContainer   h2 {
  font-size: 5rem;
  text-align: left !important;
  margin-bottom: 20px;
  font-family: 'Space Mono', monospace;
  font-weight: 900;
  letter-spacing: -4px;
  line-height: 100px;
  user-select: none;
}

.hero p {
  font-size:  2rem;
  margin-top: 20px;
  letter-spacing: -2px;
  line-height: 40px;
  font-family: 'Inter';
  font-weight: 500;
}

.hero button {
  border-radius: 20px;

}


.heroImage
{
  max-width: 100%;
  height: auto;
  aspect-ratio: 1 / 1 !important;
  place-self: right;
}

/* Features */
.features {
  padding: 50px 0;
  background-color: var(--background-start);
  text-align: center;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.features h3 {
  font-size: 2rem;
  margin-bottom: 30px;
} 

.hero   h2 {
  font-size: 5rem;
  text-align: left !important;
  margin-bottom: 20px;
  font-family: 'Space Mono', monospace;
  font-weight: 900;
  letter-spacing: -4px;
  line-height: 100px;
  user-select: none;
}

.features li {
  font-size: 1.2rem;
  margin: 15px 0;
}
.tokenomicsImg
{
  width: 90% !important;
  margin: -50px auto;
}
/* Top Tokens */
.top-tokens {
  padding: 50px 0;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.top-tokens h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}

.top-tokens ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
}

.top-tokens li {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  text-align: center;
  border-radius: 20px;
  transition: transform 0.2s ease-in-out;
}

.top-tokens li:hover {
  transform: translateY(-5px);
}

/* Footer */
.footer {
  padding: 30px 0;
  background-color: var(--secondary-foreground);
  color: var(--background-start);
  text-align: center;
  border-radius: 20px;
  margin-top: 20px !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  width: 100% !important;
  user-select: none;
}
a:disabled, .navLink:disabled, button:disabled
{
  cursor: no-drop;
}
a:active, button:active 
{
  scale: 0.98;
}

  h2 .emojiHeading
  {
    display: inline;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 0 20px;
  }
  h2 .emojiHeading img
  {
    aspect-ratio: 1 / 1;
    margin-bottom: -16px;
  }

  
  p .emojiSubheading
  {
    display: inline;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    margin: 0 10px;
  }
  p .emojiSubheading img
  {
    aspect-ratio: 1 / 1;
    margin-top: -8px;
    margin-bottom: -8px;
  }

  
  .emojiButton
  {
    display: inline;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
  }
  .emojiSubheading img
  {
    aspect-ratio: 1 / 1;
    margin-top: -8px;
    margin-bottom: -4px;
  }
  .buttonGroup
  {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .hero .buttonGroup
  {
    margin-top: 40px;

  }
  .buttonGroup button
  {
  }

 .footerEmoji img
  {
    display: inline;
    justify-content: center;
    align-items: center;
    width: 40px !important;
    height: 40px !important;
    margin: -12px 5px;
    -webkit-user-drag: none;
  }
  .footerEmoji img
  {
    aspect-ratio: 1 / 1;
  }
  .footer p
  {
    display: flex;  
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    align-items: center;
  }

  .sectionHeader
  {
    font-size: 4rem;
    font-family: 'Space Mono';
    margin: 0 auto;
    text-align: center;
  }

  @media only screen and (max-width: 800px)  {

    .container {
      max-width: 100%;
      margin: 0 auto;
      padding: 0;
      padding-left: 0px;
      gap: 50px;
      display: grid;
      height: 100%;
    }
    .tokenomicsImg
{
  width: 75% !important;
  margin: 0 auto;
  background-color: white;
  padding: 0px 20px;
  border-radius: 20px;
}

    .sectionHeader
  {
    font-size: 3rem;
    font-family: 'Space Mono';
    margin: 0 auto;
    text-align: center;
  }

    p .emojiSubheading
    {
      display: inline;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;
      margin: 0 10px;
    }
    p .emojiSubheading img
    {
      aspect-ratio: 1 / 1;
      margin-top: -12px;
      margin-bottom: -12px;
    }


    .hero
    {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      justify-content: center;
      align-items: center !important;
    }
    .heroImage
    {
      display: none;
    }
    .hero   h2 {
      font-size: 3rem;
      font-family: 'Space Mono', monospace;
      font-weight: 900 !important;
      letter-spacing: -1px;
      text-align: center !important;
      line-height: 60px;
      margin: 20px auto;

    }

    h2 .emojiHeading img
  {
    display: inline;
    justify-content: center;
    align-items: center;
    width: 60px !important;
    height: 60px !important;
    margin: 0;
  }
  h2 .emojiHeading img
  {
    aspect-ratio: 1 / 1;
    margin-bottom: -12px !important;
  }

  .hero p {
    font-size:  1rem !important;
    margin-top: 20px;
    letter-spacing: -1px !important;
    line-height: 30px !important;
    font-family: 'Inter';
    font-weight: 500;
    text-align: left;
    margin: 20px auto;
    max-width: fit-content;
  }
  .footer
  {
    max-width: 80%;
    margin: auto;
  }
  
  }

  @media only screen and (max-width: 600px) {
    .hero p {
      font-size:  1rem !important;
      margin-top: 20px;
      letter-spacing: -1px !important;
      line-height: 30px !important;
      font-family: 'Inter';
      font-weight: 500;
      text-align: left;
      margin: 20px auto;
    }

    .hero h2 {
      font-size: 2rem !important;
      font-family: 'Space Mono', monospace;
      font-weight: 900 !important;
      text-align: center !important;
      line-height: 50px;
      margin: 20px auto;

    
    }

    p .emojiSubheading
    {
      display: inline;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;
      margin: 0 10px;
    }
    p .emojiSubheading img
    {
      aspect-ratio: 1 / 1;
      margin-top: -12px;
      margin-bottom: -12px;
    }

    .sectionHeader
    {
      font-size: 2rem;
      font-family: 'Space Mono';
      margin: 0 auto;
      text-align: center;
      font-weight: 900 !important;
    }
    button 
    {
      color: var(--faded-accent) !important;
    }
  }
